@import url("https://fonts.googleapis.com/css?family=Bebas Neue");
body{
    font-family: 'Bebas Neue';
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
