.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.form-cont{
    background: white;
    height: 85vh;
    border: solid 1px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    border-radius: 10px;
    box-shadow:5px 5px 10px 0px #878787;
    border: none;
    z-index: 2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
}

.form-cont h2{
    margin-bottom: -.4rem ;
    padding: 0;
    color: black;
    font-weight: bolder;
    text-align: center;
}

.form-body{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.form-body div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}

.form-body div input{
    padding: 10px 0;
    font-size: 16px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;

}

.form-body div label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 1.2rem;
    color: black;
    pointer-events: none;
    transition: .5s;
    margin-left: .5rem;
}

.form-body div input:focus ~ label,
.form-body div input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
    color: #1b22b2;
}

.main-btn{
    border: 1px solid white;
    background-color: white;
    color: black;
    box-shadow: #878787 4px 4px;
    padding: 10px;
    font-size: 16px;
    margin-top: 0px;
    transition: 0.7s;
}

.main-btn:hover, .main-btn:focus {
    border: 1px solid;
    background-color: #1b22b2;
    color: white;
    box-shadow: #878787 4px 4px;
    font-size: 16px;
    margin-top: 0px;
    transition: 0.7s;
}

.link{
    text-decoration: none;
    color: black;
    transition: 0.7s;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-align: center;
    margin-top: -2vw;
}
.link:hover{
    text-decoration: none;
    color: #1b22b2;
    transition: 0.7s;
    margin-bottom: 0px;
    text-align: center;
}
